<div id="curator">
	<div class = "page-header">
	    <h1> {{exhibit.title}} </h1>
	</div>
	<div class="error">
	    {{#if error}}
	      {{error}}
	    {{/if}}
	</div>
		<button class="edit-btn btn-sm" id="visit-exhibit-btn" exhibit_id={{exhibit._id}}>Visit</button>
	{{#if madeByUser}} 


	<!-- Form for creating adding a Resource -->
  	<button class="btn btn-lg" data-toggle="modal" data-target="#add-resource-modal" id="add-resource-modal-btn"> Add Resource </button>
  	<!-- Modal -->
  	<div class="modal fade" id="add-resource-modal" tabindex="-1" role="dialog" aria-labelledby="add-resource-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="add-resource-modal-label">Add a Resource</h3>
        </div>
        <div class="modal-body">
            <div class="form-error">
              {{#if form-error}}
                {{form-error}}
              {{/if}}
            </div>
	 	<form id="add-resource-form" class="form-inline">
	     	<div class="form-group">
	 	    	<label for="add-resource-name"> Name </label>
				<input type="text" name="name" id ="add-resource-name" class="form-control" placeholder="Resource Name" required />
			</div>

			<div class="form group">
				<label for="add-resource-link"> Link to Resource http://</label>
				<input type="url" name="link" id="add-resource-link" class="form-control" required>
	      	</div>

			<div class="form group">
				<label for="add-resource-highlight"> Highlight </label>
				<input type="text" name="highlight" id="add-resource-highlight" class="form-control" required>
	      	</div>

	     	<div class="form-group">
	 	    	<label for="add-resource-description"> Description </label> 
				<input type="text" name="description" id ="add-resource-description" class="form-control" placeholder="Resource Description" required />
			</div>
  		</form>
	</div>
        <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn edit-btn" exhibit_id={{exhibit._id}} id="add-resource-btn">Add</button>
        </div>
      </div>
    </div>
  </div>






	<!-- Form for creating adding a Influence-->
  	<button class="btn btn-lg" data-toggle="modal" data-target="#add-influence-modal" id="add-influence-modal-btn"> Add Influence </button>
  	<!-- Modal -->
  	<div class="modal fade" id="add-influence-modal" tabindex="-1" role="dialog" aria-labelledby="add-influence-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="add-influence-modal-label">Add an Influence</h3>
        </div>
        <div class="modal-body">
            <div class="form-error">
              {{#if form-error}}
                {{form-error}}
              {{/if}}
            </div>
	 	<form id="add-influence-form" class="form-inline">

			<div class="form group">
				<label for="add-influence-artist"> Artist </label>
				<input type="text" name="artist" id="add-influence-artist" class="form-control" required>
	      	</div>

			<div class="form group">
				<label for="add-influence-image"> Representative Image </label>
				<input type="text" name="image" id="add-influence-image" class="form-control" required>
	      	</div>

	     	<div class="form-group">
	 	    	<label for="add-influence-description"> Description </label> 
				<input type="text" name="description" id ="add-influence-description" class="form-control" placeholder="Description of Influence Impact" required />
			</div>
  		</form>
	</div>
        <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn edit-btn" exhibit_id={{exhibit._id}} id="add-influence-btn">Add</button>
        </div>
      </div>
    </div>
  </div>




	<!-- Form for adding a piece-->
  	<button class="btn btn-lg" data-toggle="modal" data-target="#add-piece-modal" id="add-piece-modal-btn"> Add Piece </button>
  	<!-- Modal -->
  	<div class="modal fade" id="add-piece-modal" tabindex="-1" role="dialog" aria-labelledby="add-piece-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title" id="add-piece-modal-label">Add a Piece</h3>
        </div>
        <div class="modal-body">
            <div class="form-error">
              {{#if form-error}}
                {{form-error}}
              {{/if}}
            </div>
	 	<form id="add-piece-form" class="form-inline">

	     	<div class="form-group">
	 	    	<label for="add-piece-title"> Title </label>
				<input type="text" name="title" id ="add-piece-title" class="form-control" placeholder="RPiece Title" required />
			</div>

			<div class="form group">
				<label for="add-piece-year"> Year </label>
				<input type="text" name="year" id="add-piece-year" class="form-control" required>
	      	</div>

			<div class="form group">
				<label for="add-piece-artist"> Atrist </label>
				<input type="text" name="artist" id="add-piece-artist" class="form-control" required>
	      	</div>

	     	<div class="form-group">
	 	    	<label for="add-piece-description"> Description </label> 
				<input type="text" name="description" id ="add-piece-description" class="form-control" placeholder="Piece Description" required />
			</div>
	     	<div class="form-group">
	 	    	<label for="add-piece-image"> Image </label> 
				<input type="text" name="description" id ="add-piece-image" class="form-control" placeholder="Image Link" required />
			</div>
  		</form>
	</div>
        <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn edit-btn" exhibit_id={{exhibit._id}} id="add-piece-btn">Add</button>
        </div>
      </div>
    </div>
  </div>

		<button class="btn btn-lg " exhibit_id={{exhibit._id}} id='publish'> Publish </button>
	{{/if}}

	<div class="exhibit-info">
		<h5> {{exhibit.description}}</h5>
		<h5> Start Date: {{exhibit.dateStart}} </h5>
		<h5> End Date: {{exhibit.dateEnd}} </h5>
		<h5> Location: {{exhibit.location}} </h5>
	</div>

	<div>
<div class="exhibit-tabpanel" role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pieces" id="pieces-tab" aria-controls="pieces" role="tab" data-toggle="tab">Pieces</a></li>
    <li role="presentation"><a href="#resources" id="resources-tab" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
    <li role="presentation"><a href="#influences" id="influences-tab" aria-controls="profile" role="tab" data-toggle="tab">Influences</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="pieces" aria-labelledby="pieces-tab">
		<div class="row">
			{{#each exhibit.pieces}}
				<div class="col-md-3">
					{{>piece-preview}}
				</div>
			{{/each}}
		</div>
	</div>
    <div role="tabpanel" class="tab-pane" id="resources" aria-labelledby="resources-tab">
		<h3> Use these resources to prepare for your visit to the exhibit </h3>
		{{#each exhibit.resources}}
			{{>resource-panel}}
		{{/each}}
		<p> </p>
	</div>
    <div role="tabpanel" class="tab-pane" id="influences" aria-labelledby="influences-tab">
    		<h3> This exhibit drew inspiration from the following sources </h3>
		{{#each exhibit.influences}}
			{{>influence-panel}}
		{{/each}}
		<p> </p>
    </div>
  </div>

</div>