
<p>
<div class="row back-btn">
<div class="col-md-12">
<button class="btn btn-sm back-to-exhibit" id={{piece.exhibit._id}}>Back to Exhibit</button>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h1>{{piece.title}}</h1>
    <h2>Artist: {{piece.artist}}</h2>
    <h3>{{piece.year}}</h3>

    {{#unless createdBy}}
      <button class="btn btn-sm" id="favorite-piece-btn" piece_id={{piece._id}}>Favorite</button>
      <p>
    {{/unless}}
  </div>
  <div class="col-md-6">
    <div class="piece-description">
      <h4>{{piece.description}}</h4>
    </div>
  </div>
</div>

<div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>

<div class="row">
  <div class = 'image-panel col-md-6'>
  <img src={{piece.image}} class="img-responsive piece-img"> </img>
  <p>
  {{# if createdBy}}
  Piece ID: {{piece._id}}
  <form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/piece/image/{{piece._id}}"
     method    =  "post"
>
<input type="file" name="uploadedImage" />
<input type="hidden" value ={{piece_id}} name = "piece_id" id="piece_id_upload">
<input type="submit"  value="Upload Image" name="submit">
</form>
{{/if}}
<p>
  </div>

  <div class="conversation-panel col-md-6">
    <h3> Conversation </h3>
    {{#if createdBy}}
    <!-- Form for adding a question -->
  <button class="btn btn-sm" data-toggle="modal" data-target="#add-question-modal" id="add-question-modal-btn"> Add Question </button>
  <!-- Modal -->
  <div class="modal fade" id="add-question-modal" tabindex="-1" role="dialog" aria-labelledby="add-question-modal-label" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content"> 
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      <h3 class="modal-title" id="add-question-modal-label">Add a Question</h3>
    </div>
    <div class="modal-body">
        <div class="form-error">
          {{#if form-error}}
            {{form-error}}
          {{/if}}
        </div>
  <form id="add-question-form" class="form-inline">
      <div class="form-group">
        <label for="add-question-text">Question</label>
      <input type="text" name="text" id ="add-question-text" class="form-control" placeholder="question text" required />
    </div>
  </form>
</div>
    <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">Close</button>
      <button type="button" data-dismiss="modal" class="btn edit-btn" piece_id={{piece._id}} id="add-question-btn">Add</button>
    </div>
  </div>
</div>
</div>
{{/if}}
    {{#each conversation}} 
      {{>question-panel}}
      {{#each contributions}}
        {{>contribution-panel}}
      {{/each}}
    {{/each}}
  </div>
</div>
